@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}
header {
  height: 10vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
}
.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.brand-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.brand-container img {
  width: 2rem;
  height: 2rem;
}
.brand-container a {
  font-size: 1.5rem;
  color: #0b132a;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.2s transform 0.2s;
}
.brand-text:hover {
  color: #6a4029;
}

.nav-link {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
.nav-link a {
  text-decoration: none;
  color: #4f5665;
  transition: color 0.2s transform 0.2s;
}
li a:hover {
  color: #6a4029;
  text-decoration: underline;
}
.nav-link a:active {
  font-weight: bold;
  color: #6a4029;
}
.nav-icon-container {
  display: flex;
  gap: 1rem;
}
.nav-icon-container img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.chat-icon-container {
  position: relative;
}
.chat-count {
  position: absolute;
  background-color: #6a4029;
  padding: 3px 6px;
  border-radius: 50%;
  top: -0.75rem;
  left: -0.75rem;
  color: white;
}
.profile-img {
  border-radius: 50%;
}

main {
  width: 100vw;
  display: flex;
  background: url("../assets/img/profile/main-bg.jpg");
  background-size: cover;
}
.container h1 {
  color: white;
}
main .container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 3rem auto;
  gap: 1rem;
}
.user-info-container {
  display: flex;
  background-color: #f8f8f8;
  width: 100%;
  border-radius: 1rem;
}
.edit {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}
.avatar {
  flex: 1;
  align-items: center;
}
.details {
  flex: 3;
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.22),
    0 10px 0px rgba(106, 64, 41, 0.7);
  position: relative;
}
.avatar-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  width: 80%;
}

.btn {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  border: none;
  font-weight: 700;
  transition: transform 0.2s;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
.choose-avatar,
.cancel {
  background: #ffba33;
  color: #6a4029;
}
.remove-avatar,
.save-user-info {
  background: #6a4029;
  color: white;
}
.edit-password,
.logout {
  background-color: white;
  border: 1px solid #9f9f9f;
}
p.save-questions {
  font-weight: 700;
  color: #6a4029;
}
p.display-name {
  font-weight: 700;
}
.details-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
  justify-content: space-between;
}
.details-container p {
  font-size: 1.5rem;
  font-weight: 700;
}
form {
  display: flex;
  gap: 2rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-container input {
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}

.contact-form {
  margin-bottom: 0;
}
.details-form {
  margin-top: 0;
}
.form-item label {
  color: #9f9f9f;
}
.edit-icon-container {
  position: absolute;
  top: 32px;
  right: 21px;
  padding-top: 6px;
  padding-left: 6px;
  background: #6a4029;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: transform 0.2s;
  cursor: pointer;
}
.edit-icon-container {
  transform: scale(1.1);
}
.gender-selector {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

/* footer */
footer {
  background-color: #f8f8f8;
  width: 100vw;
}
footer .container {
  display: flex;
  align-items: flex-start;
}
.footer-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  gap: 1.25rem;
  flex: 1;
}
footer .brand-container img {
  width: 1.5rem;
  height: 1.5rem;
}
footer .brand-container a {
  font-size: 1rem;
}
.footer-text {
  max-width: 50%;
}
.social-container {
  display: flex;
  gap: 1rem;
}
.logo-container {
  width: 1.5rem;
  height: 1.5rem;
  background: #6a4029;

  border-radius: 50%;
}
.logo-container img {
  width: 100%;
  height: 100%;
}
.copyright {
  color: #afb5c0;
}

.footer-link-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-text {
  font-weight: 700;
}
.footer-link {
  display: flex;
  justify-content: flex-start;
}
.footer-link a {
  text-decoration: none;
  color: #4f5665;
  flex: 1;
}
.footer-link a:hover {
  color: #6a4029;
}
.footer-container.link {
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .nav-link {
    display: none;
  }
  .user-info-container {
    flex-direction: column;
  }
}
