p {
  margin-bottom: 0;
}
.main-history {
  background: url("../../assets/img/history/history.png");
  background-size: cover;
  background-position: center;
}
.container {
  margin: 5% 10%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title-container {
  color: white;
}
.title-container p {
  font-size: 1.25rem;
}
.select-all {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}
.btn-select-all {
  border: none;
  background: none;
  color: white;
}
.list-history {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
