footer {
  background-color: #f8f8f8;
  width: 100vw;
}
footer .container {
  margin: 0 10%;
  display: flex;
  align-items: flex-start;
}
.brand-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  gap: 1.25rem;
  flex: 1;
}
footer .brand-container img {
  width: 1.5rem;
  height: 1.5rem;
}
.brand-container a {
  font-size: 1rem;
  color: #0b132a;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.2s transform 0.2s;
}
.footer-text {
  max-width: 50%;
}
.social-container {
  display: flex;
  gap: 1rem;
}
.logo-container {
  width: 1.5rem;
  height: 1.5rem;
  background: #6a4029;

  border-radius: 50%;
}
.logo-container img {
  width: 100%;
  height: 100%;
}
.copyright {
  color: #afb5c0;
}

.footer-link-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-text {
  font-weight: 700;
}
.footer-link {
  display: flex;
  justify-content: flex-start;
}
.footer-link a {
  text-decoration: none;
  color: #4f5665;
  flex: 1;
}
.footer-link a:hover {
  color: #6a4029;
}
.footer-container.link {
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  footer .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer-text {
    max-width: 100%;
  }
  .footer-link {
    justify-content: space-between;
    gap: 1rem;
  }
  .footer-container {
    width: 100%;
  }
  .footer-container.link {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }
  .footer-link-container {
    width: 100%;
  }
}
